{% extends 'layout.twig' %}

{% block title %}
    Enroll
{% endblock %}

{% block content %}
<div class = "enlist">
        <h1 style="font-size: 2rem">Please enlist an immediate <span style="color: yellow; text-decoration:underline">Descendant</span> by providing the following details</h1>
        <form action="/save" method="post" class="etu">
        <p class=""><span class="">Note:</span> An immediate Descendant is one is a direct son or daughter of the Patriach the Family Tree begins with. It is best if a Descendant is enlisted first before their Spouse and then their descendadnts. Please provide accurate details because this is key to the tracing of the family tree.</p>
        <input  type="text" name="fName"  required placeholder="First Name">
        <input  type="text" name="MName"  required placeholder="Middle Name">
        <input  type="text" name="lName"  required placeholder="Last Name">
        <select name="sName" id="sName" class="select" required>
        <option value="">Spouse's Name</option>
        
        <input  type="text" name="ffName" required placeholder="Father's First Name">
        <input  type="text" name="flName" required placeholder="Father's Last Name">
        <input  type="text" name="mfName" required placeholder="Mother's First Name">
        <input  type="text" name="mlName" required placeholder="Mother's Last Name (madien)">
        <input  type="text" name="pBirth" required placeholder="Place of Birth">
        <input  type="date" name="dBirth" required placeholder="Date of Birth">
        <select name="sex" id="sex" class="select" required>
            <option value="">Sex</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
        </select>
        <select name="mStatus" id="mStatus" class="select" required>
            <option value="">Marital Status</option>
            <option value="Married">Married</option>
            <option value="Single">Single</option>
            <option value="Widow">Widow</option>
            <option value="Widower">Widower</option>
            <option value="Divorced">Divorced</option>
        </select>
        <select name="pStatus" id="pStatus" class="select" required>
            <option value="">Physical Status</option>
            <option value="Alive and well">Alive and Well</option>
            <option value="Single">Disabled</option>
            <option value="Widow">Missing</option>
            <option value="Widower">Dead</option>
        </select>
        <input  type="int"  name="pbBirth" required placeholder="Position by birth">
        <input  type="text" name="cCity"  required placeholder="Current City">
        <br><br>
        <button type="submit" name="submit">Enlist</button>
        </form>
    </div>
{% endblock %}